---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: selfsigned-issuer
  namespace: observability
spec:
  selfSigned: {}

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: monitor-ca
  namespace: observability
spec:
  isCA: true
  commonName: monitor-system
  secretName: monitor-ca
  privateKey:
    algorithm: ECDSA
    size: 256
  subject:
    organizations:
    - LGTM-PoC
  issuerRef:
    name: selfsigned-issuer
    kind: Issuer
    group: cert-manager.io
  usages:
  - cert sign
  - crl sign
  - server auth
  - client auth

---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: monitor-issuer
  namespace: observability
spec:
  ca:
    secretName: monitor-ca

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: lgtm-wildcard-cert
  namespace: observability
spec:
  # secretName MUST match the name in your Gateway's certificateRefs
  secretName: lgtm-wildcard-tls
  issuerRef:
    name: monitor-issuer
    kind: Issuer
    group: cert-manager.io
  dnsNames:
    - "*.example.com"
    - "example.com"
  # Essential for a Gateway that terminates TLS
  usages:
  - server auth

---
apiVersion: gateway.networking.k8s.io/v1
kind: GatewayClass
metadata:
  name: cilium
spec:
  controllerName: io.cilium/gateway-controller

---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: lgtm-external-gateway
  namespace: observability
spec:
  gatewayClassName: cilium
  listeners:
    - name: https
      protocol: HTTPS
      port: 443
      hostname: "*.example.com"
      tls:
        mode: Terminate
        certificateRefs:
        - name: lgtm-wildcard-tls
          kind: Secret

---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: grafana-route
  namespace: observability
spec:
  parentRefs:
    - name: lgtm-external-gateway
      namespace: observability
  hostnames:
  - "grafana.example.com"
  rules:
  - backendRefs:
    - name: monitor-grafana
      kind: Service
      port: 80
