# Warning: there won't be any resource requests/limits for any grafana alloy-related container
---
fullnameOverride: grafana-alloy

rbac:
  create: false

alloy:
  # Options: "generally-available" (default), "public-preview", "experimental"
  # Using "generally-available" for production stability
  stabilityLevel: "generally-available"

  # Storage path for WAL and other state
  storagePath: /tmp/alloy

  extraPorts:
  - name: thrift-compact
    port: 6831
    targetPort: 6831
    protocol: UDP
  - name: thrift-binary
    port: 6832
    targetPort: 6832
    protocol: UDP
  - name: thrift-http
    port: 14268
    targetPort: 14268
  - name: thrift-grpc
    port: 14250
    targetPort: 14250
  - name: opencensus
    port: 55678
    targetPort: 55678
  - name: oltp-grpc
    port: 4317
    targetPort: 4317
  - name: oltp-http
    port: 4318
    targetPort: 4318

controller:
  type: deployment

serviceMonitor:
  enabled: true
  additionalLabels:
    release: monitor
