# Warning: there won't be any resource requests/limits for any Linkerd-related container
---
proxyInit:
  resources:
    cpu:
      limit: ""
      request: ""

proxy:
  # Default ports plus memberlist(7946)
  opaquePorts: 25,587,3306,4444,5432,6379,7946,9300,11211

# The Prometheus URL is hard coded and won't work with an external one.
disableHeartBeat: true

podMonitor:
  enabled: true
