# Warning: there won't be any resource requests/limits for any Loki-related container
---
fullnameOverride: loki

global:
  clusterDomain: lgtm-central.cluster.local

serviceAccount: # There is no way to set an account per component
  create: true
  name: loki-sa

gateway:
  enabled: false

test:
  enabled: false

write:
  affinity: null

read:
  affinity: null
  legacyReadTarget: false

backend:
  affinity: null

loki:
  auth_enabled: true
  storage:
    type: s3
  commonConfig: null
  structuredConfig:
    ruler:
      alertmanager_url: http://monitor-alertmanager:9093
      enable_sharding: true
      storage:
        type: s3
        s3:
          bucketnames: loki-ruler
          insecure: true
          s3forcepathstyle: true
    common:
      path_prefix: /var/loki
      storage:
        s3:
          endpoint: minio.storage.svc:9000
          bucketnames: loki-data
          access_key_id: remote_user
          secret_access_key: R3m0t3us3r
          insecure: true
          s3forcepathstyle: true
  limits_config:
    ingestion_rate_mb: 10
  storage_config:
    tsdb_shipper:
      active_index_directory: /var/loki/tsdb-shipper-active
      cache_location: /var/loki/tsdb-shipper-cache
      cache_ttl: 24h
      shared_store: s3
  schemaConfig:
    configs:
    - from: '2023-04-01'
      store: tsdb
      object_store: s3
      schema: v12
      index:
        period: 24h
        prefix: loki_index_

monitoring:
  selfMonitoring:
    enabled: false
    grafanaAgent:
      installOperator: false
  lokiCanary:
    enabled: false
  serviceMonitor:
    metricsInstance:
      enabled: false
    labels:
      release: monitor
  rules:
    labels:
      release: monitor
  alerts:
    labels:
      release: monitor
  dashboards:
    namespace: observability
    labels:
      release: monitor
      grafana_dashboard: "1"
